body {
  font-family: 'Roboto Condensed', sans-serif;;
  color: white;
  background-color: #dc3e15;
  font-size: 100%;
}

#page_heading h1 {
  font-family: 'Roboto', sans-serif;;
  font-size: 4em;
  font-weight: bold;
}

a, a:visited {
  color: #001f3f;
}
a:hover {
  color: #light-blue;
}

div.column {
  margin-top: 1em;
}

h2, h3 {
  font-family: 'Roboto Condensed', sans-serif;;
}

.img-responsive {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}
